body{
    background-color: white;
    margin: 0%;
}
header{
    background-color: yellow;
    text-align: center;
    margin: 0%;
    padding-top: 5px;
    padding-bottom: 8px;
    width: 100%;
}
main{
    background-color: white;
}
footer{
    background-color: red;
    text-align: center;
    font-size: small;
    margin: 0%;
    padding-top: 1px;
    padding-bottom: 7px;
    width: 100%;
}
.Fußnote{
    line-height: 0.4px;
}
.Menu{
    margin-right: 50px;
    margin-top: 0px;
}
.right-text{
    text-align: right;
    margin-right: 2%;
    margin-left: 2%;
}
.left-text{
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    
}
.right-img{
    margin-right: 2%;
    margin-left: 2%;
}
.left-img{
    margin-left: 2%;
    margin-right: 2%;
}
.oneliner{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr ;
    column-gap: 5px;   
}
.header-title{
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}
#top-right-image {
	position: absolute;
	top: 0;
	right: 0;
}
#top-left-image {
	position: absolute;
	top: 0;
	left: 0;
} 