body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('hintergrundbild.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fade-in 1s forwards;
  }
  
  .animated-element {
    opacity: 0;
    animation: slide-in 1s forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  